<!DOCTYPE HTML>
<HTML>
	<head>
		<style>
			h1{
				font-family:微软雅黑,sans-serif;
				color:#00CC99;
				font:bond;
			}
			#au{
				color:green;
				font:bond;
				font-size:20pt;
			}
			body{
				margin-left:10%;
				margin-right:10%;
			}
			.com{
				background:#CCFFFF;
				border-style: solid;
				border-width: 3px;
				border-color: #33FFCC;
				margin:10px;
			}
			.aut{

				font:bond;
				font-size:15pt;
			}
			#pl{
				font-color:#009900;
				font-size:20pt;
			}
		</style>
		<link rel="shortcut icon" type="image/gif" href="http://www.cs.washington.edu/education/courses/cse190m/09sp/homework/6/fifteen.gif" />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<title>{{title}}</title>
		<script>
			$(document).ready(function(){//js函数实现 利用jsoncallback实现
				$("#CommentBtn").click(function(){
					$.getJSON('/'+$("#user").text()+'/Fenng/1/comment?jsoncallback=?',{text:$("#comment_text").val()},function(data) {
						$("#comment_area").append("<div class='com'><span class='aut'>&nbsp<b>"+data[0]+"</b></span><span class='time'>&nbsp"+data[1]+"</span><p>&nbsp&nbsp&nbsp&nbsp"+data[2]+"</p></div>")
					})
					$("#comment_text").val("");
				})
			});
		</script>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>{{title}}</h1>
		<span id="au"><b>{{author}}</b></span>
		{% raw content %}
		<p id="pl"><b>评论：</b></p>
		<div id="comment_area">
		{% for com in coms %}
			<div class="com">
				<span class="aut">&nbsp<b>{{com[0]}}</b></span>
				<span class="time">&nbsp{{com[1]}}</span>
				<p>&nbsp&nbsp&nbsp&nbsp{{com[2]}}</p>
			</div>
		{% end %}
		</div>
		{%if name==a_name%}
			<p id="user"><b>{{name}}</b></p>
			<textarea type="text" id="comment_text" cols=50 rows=12 name="com"></textarea>
			<input id="CommentBtn" type="button" value="Comments">
			<br>
			<a href="/logout">logout</a>
		{% end %}
	</body>
</HTML>