<!DOCTYPE HTML>
<HTML>
	<head>
		<style>
			h1{
				font-family:微软雅黑,sans-serif;
				color:#00CC99;
				font:bond;
			}
			#au{
				color:green;
				font:bond;
				font-size:20pt;
			}
			body{
				margin-left:10%;
				margin-right:10%;
			}
			.com{
				background:#CCFFFF;
				border-style: solid;
				border-width: 3px;
				border-color: #33FFCC;
				margin:10px;
			}
			.aut{

				font:bond;
				font-size:15pt;
			}
			#pl{
				font-color:#009900;
				font-size:20pt;
			}
		</style>
		<title>{{title}}</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>{{title}}</h1>
		<span id="au"><b>{{author}}</b></span>
		{% raw content %}
		<p id="pl"><b>评论：</b></p>
		{% for com in coms %}
			<div class="com">
				<span class="aut">&nbsp<b>{{com[0]}}</b></span>
				<span class="time">&nbsp{{com[1]}}</span>
				<p>&nbsp&nbsp&nbsp&nbsp{{com[2]}}</p>
			</div>
		{% end %}
		{%if name==a_name%}
			<p><b>{{name}}</b></p>
			<form action="/{{name}}/Fenng/1" method="post">
				<textarea type="text" cols=50 rows=12 name="com">
				</textarea>
				<input type="submit" value="提交评论">
			</form>
			<a href="/logout">logout</a>
		{% end %}
	</body>
</HTML>